<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { value: 10 }); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <label for="medidor"><%- titulo %></label>
        <span><%= min %></span>
        <meter
          id="medidor"
          min="<%= min %>"
          max="<%= max %>"
          value="<%= nivel %>"
        >
        </meter>
        <span><%= max %></span>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>